
/* header & footer layout do not change (need to edit footer side)*/
* {
    margin: 0px;
}
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 20px;
}
.header-nav {
    margin-top: 100px;
    /* position: -webkit- sticky; */
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: white;
    display: flex;
    align-items: center;
    width: 1350px;
    margin: 0 auto;
    height: 50px;
}

.header-card {
    display: flex;
    align-items: center;
    background-color: white;
}

.logo {
    width: 65px; 
    height: 65px;
}

h1 {
    font-size: x-large;
    padding-left: 10px;
}

.nav-list { 
    list-style-type: none;
    display: flex;
    /* padding-left: 10%; */
    font-size: larger;
    margin-right: 5px;
    margin-left: 170%;
    background-color: white;
}
/* check hamburger button */
.hamburger {
    font-size: 24px;
    cursor: pointer;
    display: none;
}
a {
    color: black;
    text-decoration: none;
    padding-right: 5px;
}
footer {
    background-color: #4CBB17;
    display: flex;
    /* width: 1350px; */
    justify-content: center;
}
.footer1 {
    display: flex;
    flex-direction: column;
    margin-right: 10%;
    font-size: 1.5em;
}
.footer2 {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}
.footer3 {
    margin-left: 250px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
.follow-us {
    font-size: 2.5em;
}

/* body side each page should be edited */
.container-mainpicture {
    justify-content: center;
    display: flex;
    /* width: 1350px; */
}
.mainpicture {
    width: 1350px;
    height: 725px;
}
.main-container {
    display: grid;
    gap: 15px;
    /* padding: 10px; */
    width: 1350px;
    justify-content: center;
    flex-direction: column;
}
.article {
    box-shadow: 1px 2px 0 rgba(0,0,0,.05);
    border: 1px solid grey;
    border-radius: 0.5em;
    width: 600px;
    height: 450px;
    margin: 10px;
    text-align: center;
    padding: 5px;
}
.item1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: auto;
}
.item2 {
    grid-column: 2 ;
    grid-row: 1 ;
}
.item-picture {
    width: 435px; 
    height: 300px;
}
.readmore {
    color: grey;
}
.container-form {
    /* /* box-shadow: 1px 2px 0 rgba(0,0,0,.05); */
    border: 1px solid grey;
    border-radius: 0.75em;
    width: 1250px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 40px;
    padding: 10px;
}
.subscribe {
    font-size: 2em;
    display: flex;
    justify-content: center;
}
.form {
    margin-left:40% ;
    width: 350px;
    justify-content: space-between;
}

/* Media Queries side */
@media screen and (max-width: 650px) {
    * {
        margin: 0px;
    }
    .container {
        max-width: 650px;
        margin: 0 auto;
        padding: 20px;
    }
    header {
        /* mandatory for sticky nav */
        position: -webkit-sticky;
        position: fixed;
        top: 0;
        z-index: 100;
        /* mandatory for sticku nav */
        background-color: white;
        display: flex;
        /* justify-content:center; */
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
    }
    .header-card {
        display: flex;
        max-width: 1350px;
        /* padding-left: 20%; */
        /* margin-right: 30%; */
    }
    .logo {
        width: 45px; 
        height: 45px;
    }
    h1 {
        font-size:x-large;
        align-items: center;
        /* justify-content: center; */
        /* display: flex; */
        padding-left: 10px;
    }
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 41px;
        margin-left: 260px;
        font-size:large;
        /* margin-right: 5px; */
        background-color: white;
    }
    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        margin: 5px 0;
    }

    .hamburger {
        display: block;
        margin-left:350px;
    }
    /* Add animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}
    a {
        color: black;
        text-decoration: none;
        padding-right: 2px;
    }
    footer {
        background-color: #4CBB17;
        width: 650px;
        display: flex;
        justify-content: center;
    }
    .footer1 {
        display: flex;
        flex-direction: column;
        margin-right: 10px;
        font-size: 1em;
    }
    .footer2 {
        display: flex;
        flex-direction: column;
        font-size: 1em;
    }
    .footer3 {
        margin-left: 10px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }
    .follow-us {
        font-size: 1em;
    }
    .footer-footer3-logo {
        display: flex;
    }
    .follow-us-logo{
        width: 30px;
        height: 30px;
    }
    /* Body Media Queries */
    .container-mainpicture {
        justify-content: center;
        display: flex;
        width: 650px;
        height: 300px;
    }
    .mainpicture {
        width: 650px;
        height: 300px;
    }
    .main-container {
        /* display: grid; */
        /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
        /* gap: 20px; */
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px; *
        padding: 5px; 
        width: 600px; 
    }
    .article {
        box-shadow: 1px 2px 0 rgba(0,0,0,.05);
        border: 1px solid grey;
        border-radius: 0.5em;
        width: 650px;
        height: 300px;
        /* margin: 5px; */
        /* text-align: center; */
        padding: 5px;
    }
    .item1 {
        height: 600px;
    }
    iframe {
        width: 400px;
        height: 300px;
    }
    h2 {
        font-size: 1em;
    }
    h3 {
        font-size: 1em;
    }
    .article-text{
        font-size: 0.75em;
    }
    .item-picture {
        width: 325px;
        height: 175px;
    }
    .readmore {
        color: grey;
    }
    .container-form {
        /* /* box-shadow: 1px 2px 0 rgba(0,0,0,.05); */
        border: 1px solid grey;
        border-radius: 0.75em;
        width: 610px;
        justify-content: center;
        display: flex;
        /* flex-direction: column; */
        padding: 15px;
        margin: 6px 8px;
    }
    .subscribe {
        font-size: 1.5em;
        display: flex;
        justify-content: center;
    }
    .form {
        margin-left:30% ;
        justify-content: space-between;
    }
    
}